<div class="row">

   <h1 class="text-center">Show us your Songs</h1>
   <p class="text-center"><a href="/songs/new">Click here</a> to share a song</p>
 
</div>
<hr>
<div class="row">

  <% @songs.each do |song| %>
  <% @song = song %>
    <div class="col-md-4 song-height">
      <div class="row">
      <div class="col-md-2">

      </div>
        <div class="col-md-10">
          <h3>
            <%= @song.title %><br>
            <%= @song.author %>
            <%= show_play_link %>      
          </h3> 
            <%= show_user_id %>     
          <p>        
            <a href="/songs/<%= @song.id %>"><%= @song.created_at %></a>
          </p>

        </div>

      </div>
    </div>
  <% end %>
</div>
