
<div class="row">
  <div class="col-md-4"></div>

    <div class="col-md-4">
      <h3><a href="<%= @song.url %>"><%= @song.title %></a><br><%= @song.author %></h3>
      <p>
      </p>
      <p>
        <a href="/songs/<%= @song.id %>"><%= @song.created_at %></a>
      </p>
    </div>
    <div class="col-md-4"></div>

</div>
<hr>
<p class="text-center"><a href="/songs">Click here</a> to view all songs.</p>
