
<div class="row">
  <div class="col-md-4"></div>

    <div class="col-md-4 song-height">
      <div class="row">
      <div class="col-md-2">
      <br>
        <%= show_upvote_button(@song.id) %>      
        <p class="text-center">upvotes: <b><%=@song.upvotes%></b></p>
      </div>
        <div class="col-md-10">
          <h1>
            <%= @song.title %><br>
            <%= @song.author %>
            <%= show_play_link %>      
          </h1> 
            <%= show_user_id %>     
          <p>        
            <a href="/songs/<%= @song.id %>"><%= @song.created_at %></a>
          </p>

        </div>

      </div>
    </div>


    <div class="col-md-4"></div>

</div>
<hr>
<p class="text-center"><a href="/songs">Click here</a> to view all songs.</p>
