
<div class="row">
  <div class="col-md-4"></div>

    <div class="col-md-4">
      <h3>
        <%= @song.title %><br>
        <%= @song.author %>
        <a href="<%= @song.url %>"><span class="glyphicon glyphicon-play"></span></a>
      </h3>
      <p>
        <a href="/songs/<%= @song.id %>"><%= @song.created_at %></a>
      </p>
    </div>


    <div class="col-md-4"></div>

</div>
<hr>
<p class="text-center"><a href="/songs">Click here</a> to view all songs.</p>
